<h1>
    Customers
</h1>

{{formatName}}

{{#each data as |value key|}}
    {{!-- {{key}} - {{value.name}} </br> --}}
    {{#each this.jobs as |childValue childKey|}}
        Child: {{childKey}} - {{childValue.username}} </br>
        Parent: {{value.name}} </br>
        {{!-- {{key}} - {{value.name}} </br> --}}
    {{/each}}
{{/each}}

{{#each data as |value key|}}
{{!-- <tr>
    <td>{{this.name}}</td>
    <td>{{this.city}}</td>
</tr> --}}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{@index}}">
        <button style="padding: 0 1.5rem 0;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{@index}}" aria-expanded="true" aria-controls="collapse{{@index}}">
            <span class="CustomerCode" >CODE: {{this.code}}</span>
            <span class="CustomerTitle" style="padding: 15px 8px 15px 8px">{{this.name}}</span> 
            {{!-- <span style="float: left;">{{this.city}}</span> --}}
        </button>
        </h2>
        {{#if @first }}
            <div id="collapse{{@index}}" class="accordion-collapse collapse show" aria-labelledby="heading{{@index}}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{!-- <strong>This is the first item's accordion body.</strong>  --}}
                    {{!-- <button class="btn btn-success">Update</button>
                    <button class="btn btn-success">Add Job</button> --}}
                    {{!-- <table class="table table-dark table-striped">
                            <th>Job Number</th>
                            <th>Connection Application</th>
                            <th>Connection Number</th>
                            <th>User Name</th>
                            <th>Password</th>
                            <th>Additional Information</th>
                            <th>Insert to DB</th>
                            <tr>
                                <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="job Number"></td>
                                <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="job Number"></td>
                                <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="job Number"></td>
                                <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="job Number"></td>
                                <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="job Number"></td>
                                <td style="padding: 0;"><textarea style="width: 100%; height:100%;">{{this.additionalInfo}}</textarea></td>
                                <td><button style="width: 100%; height: 100%;" class="btn btn-success">ADD</button></td>
                            </tr>
                            Hard ware addition goes here some how
                        </table> --}}
                        {{!-- <form action="/customer/add" method="post"> --}}
                            <button class="btn btn-success" type="submit">Update</button>
                            <table class="mainTableForCustomer table table-dark table-striped table-hover">
                                <th></th>
                                <th>Job Number</th>
                                <th>Connection Application</th>
                                <th>Connection Number</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th>Additional Information</th>
                                <th>DELETE</th>
                                {{#each this.jobs as |childValue childKey|}}
                                {{!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Launch demo modal
                                </button> --}}
                                {{!-- <form action="/customer/add" method="post"></form> --}}
                                {{!-- input type="text" class="form-control" id="job{{this._id}}" placeholder="Job Number" value="{{this.jobNumber}}"> --}}
                                    
                                    <tr>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Open
                                            </button>
                                        </td>
                                        <td id="">{{this.jobNumber}}</td>
                                        <td><input type="text" class="form-control" id="job{{this._id}}" placeholder="Connection Application" value="{{this.connectionApp}}"></td>
                                        <td><input type="text" class="form-control" id="job{{this._id}}" placeholder="Connection Number" value="{{this.connectionNum}}"></td>
                                        <td><input type="text" class="form-control" id="job{{this._id}}" placeholder="Username" value="{{this.username}}"></td>
                                        <td><input type="text" class="form-control" id="job{{this._id}}" placeholder="Password" value="{{this.password}}"></td>
                                        <td style="padding: 0;"><textarea style="width: 100%; height:100%;" placeholder="Additional information">{{this.additionalInfo}}</textarea></td>
                                        <td><button style="width: 100%; height: 100%;" class="btn btn-danger">X</button></td>
                                    </tr>
                                {{/each}}
                            </table>
                        {{!-- </form> --}}
                </div>
            </div>
        {{else}}
            <div id="collapse{{@index}}" class="accordion-collapse collapse" aria-labelledby="heading{{@index}}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
            </div>
        {{/if }}
    </div>
</div>
{{/each}}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>